html,body {
        padding:0;
        margin:0;
        height:100%;
        min-height:100%;
        background: #091f36;
        color: white;
        word-break: break-all;
}
nav {
    background: #0f2862;
    border-radius: 2px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4f5f76;
   border-radius: 1px;
}

.semi{
width:100%;
height:100%;
float:left;
}
.line{
height:50%;
width:100%;
transition: margin-left .5s;
padding: 16px;
}

.equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

.sidebar {
    height: 94%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 14px;
    left: 10px;
    background-color: #0f2862;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 2px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #4d4500;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    cursor: pointer;
    background-color: #0f2862;
    color: white;
    border: 1px;
    border-style: groove;
    border-color:  #4f5f76;
    border-radius: 5px;
    min-height: 40px;
    word-break: normal;
    min-width: 150px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    height: 95%;
}
/* On smaller screens, where height is less than 450px, change the styl
e of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
.flowy {
  overflow-y: scroll;
}
.marbot{
    margin-bottom: 15px;
}
.navtext{
    color: white;
    word-break: keep-all;
}
.navtext2{
    color: white;
    word-break: keep-all;
    overflow-x:scroll;
    min-height: 50px;
    max-width: 120px;
}
.rooms{
    padding:10px 10px 10px 20px;
    background-color:#0f2862;
    border-style: groove;
    border-width: 2px;
    border-color: #4f5f76;
    border-radius: 2px;
}
.room{
    background-color:#0f2862;
    padding:10px 10px 10px 20px;
    border-width: 0px;
    border-style: double;
    border-color: white;
    color:white;
    overflow-y: scroll;
    text-align: center;
    border-radius: 2px 2px 0px 0px;
    margin: 0px !important;
}
.chats{
    padding:10px 10px 10px 20px;
    background-color:#0f2862;
    border-style: groove;
    border-width: 2px;
    border-color: #4f5f76;
    border-radius: 2px;
}
.chat{
    padding:10px 10px 10px 20px;
    background-color:#0f2862;
    border:0px;
    border-radius: 0px 0px 2px 2px;
    margin: 0px !important;
}
.chatUser{
    background:#0f2862;
    border-radius:5px;
    text-align:center;
    border-style: outset;
    border-color: #4f5f76;
    border-width: 2px;
    word-break: break-all;
}
.chatUser.active {
    border-color: #14A76C;
    border-style: inset;
}
@-webkit-keyframes Border {
    0% {border-color: crimson;}
    25% {border-color: orange;}
    50% {border-color: red;}
    100% {border-color: purple;}
}
.chatUser.messageAlert{
    -webkit-animation:Border 1s infinite alternate;
}
.chat_head{
    margin: 5px 5px 5px 0px;
    max-width: 180px;
    border-radius: 5px;
}
.chat-controls{
    background:#4f5f76;
    border-radius: 2px 2px 0px 0px;
}
.chat-controls .col-md-12{
    margin-top: 0px;
    margin-left: 5px;
    overflow: hidden;
    max-height: 30px;
}
.chat-controls .row{
    text-align: left;
}
.chat-panel{
    background:#0f2862;
    border-radius: 2px;
    border-width: 2px;
    border-style: groove;
    border-color: #4f5f76;
    min-height:70%;
}
.chat-input{
    background:#0f2862;
    border: 0px;
    text-align: center !important;
    margin: 10px;
    margin-left: 10%;
}
.chat-controls .badge{
    border: 0px;
    border-radius: 1px !important;
}
.chat-input  {
    color: white;
    margin:5px;
    margin-top: 10px;
    border: 0px !important;
}

#send_msg{
    background: #0f2862;
    border-width:2px;
    border-radius: 5px;
    border-style: outset;
    border-color: #4f5f76;
    color: white;
    min-height: 40px;
    max-height: 40px;
    word-break: keep-all;
}

#main-input{
    border:none;
    background: #e6e6e6;
    color: black;
    border-radius: 5px;
    min-height: 40px;
    max-height: 40px;
}
#main-input:focus{
    background: #f2f2f2;
}
.msgrow{
    margin-left: 5px;
    margin-right: 5px;
    clear:both;
    display: block;
}
.msgrow.outgoing{
    float:right;
}
.msgrow.incoming{
    float: left;
}
.msg{
    word-break: break-all;
    margin:5px;
    padding:5px;
    border-radius: 5px;
}
.msg.outgoing{
    background: #108959;
    color: white;
}
.msg.incoming{
    background: #992900;
    color: white;
}
.create_room{
    background:#0f2862;
    border-radius:5px;
    text-align:center;
    border-style: outset;
    border-color: #4f5f76;
    border-width: 2px;
}

.room_tab{
    background:#0f2862;
    border-radius:5px;
    text-align:center;
    border-style: outset;
    border-color: #4f5f76;
    border-width: 2px;
    word-break: break-all;
}
.room_tab.active{
    border-color: #14A76C;
    border-style: inset;
}
.room_tab.messageAlert{
    -webkit-animation:Border 1s infinite alternate;
}
.room_tab.subbed{
    border-color: #d1faea;
}
#room_modal .modal-content{
    background:#0f2862;
    color:white;
}
#video_controls_modal .modal-content,#video_load_modal .modal-content,#room_actions_modal .modal-content{
    background:#0f2862;
    color:white;
    opacity: 0.3;
}
#video_controls_modal .modal-content:hover,#video_load_modal .modal-content:hover,#room_actions_modal .modal-content:hover{
    opacity: 0.9
}
#video_controls_modal .modal-body{
    overflow-y: scroll;
    max-height: 500px;
}
.modal-content input {
    background: #e6e6e6;
}
.modal-content input:focus{
    background: #f2f2f2;
}
.body_join{
    display:none;
}
.body_create{
    display:none;
}
.modal-footer button {
    background: #4f5f76;
    border: none;
}
.modal-footer{
    text-align: center;
}
.vid{
    display: none;
    height: auto;
    width: auto;
    height: 100%;
}
.vid.solo{
    width: 100%;
    display: block;
}
.vid.two{
    width: 40%;
    display: inline;
}
.vid.three{
    width: 30%;
    display: inline;
}
.vid.four{
    width: 20%;
    display: inline;
}
.vid.five{
    width: 15%;
    display: inline;
}
#read_room_members_actual,#members_action{
    overflow-y: scroll;
    max-height: 100px;
    background: #4f5f76;
    white-space: pre-line;
    word-break: break-all;
}

.badge-danger{
    background:#9e363a!important;
    color:white !important;
}
.badge-success{
    background:#14A76C !important;
    color:white !important;
}
.play, .unmute,.mute,.display,.playall,.displayall,.muteall,.unmuteall,#toggle_load,.room_action,.restartall,.restart,.setsynchronized {
    background: #0f2862;
    border-width:2px;
    border-radius: 5px;
    border-style: outset;
    border-color: #4f5f76;
    color: white;
    min-width: 133px;
}
.play:hover, .unmute:hover,.mute:hover,
.display:hover,.playall:hover,
.displayall:hover,.muteall:hover,
.unmuteall:hover,.chatUser:hover,
.create_room:hover,.room_tab:hover,
.modal-footer button:hover,::-webkit-scrollbar-thumb:hover,.openbtn:hover,
#send_msg:hover, #toggle_load:hover,.room_action:hover,.chat_head:hover,.restartall:hover,.restart:hover,.setsynchronized:hover{
    background: #9e363a;
}

.play:focus, .unmute:focus,.mute:focus,
.display:focus,.playall:focus,.displayall:focus,
.muteall:focus,.unmuteall:focus,.openbtn:focus,
#send_msg:focus,#main-input:focus,.modal-content input:focus,
.modal-footer button:focus,#toggle_load:focus,.room_action:focus,.chat_head:focus,.restartall:focus,.restart:focus,.setsynchronized:focus{
    outline: none !important;
    box-shadow: none;
}
.row{
    text-align: center;
}
.col-md-12,.col-sm-12{
    margin-top: 5px;
}
.badge{
    height: auto;
    width: auto;
}
