html,body {
        padding:0;
        margin:0;
        height:100%;
        min-height:100%;
        background: #000;
}
nav {
    background: #1b1b1b;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.semi{
width:100%;
height:100%;
float:left;
}
.line{
height:50%;
width:100%;
transition: margin-left .5s;
padding: 16px;
}

.equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

.sidebar {
    height: 94%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 14px;
    left: 10px;
    background-color: #1b1b1b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #2ba837;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #282828;
    color: #fff;
    padding: 10px 15px;
    margin-left:45px;
    border: none;
}

.openbtn:hover {
    background-color: #414141;
    color: #2ba837;
}
.openbtn:focus{
    outline: none !important;
    box-shadow: none;
    color
}
#main {
    transition: margin-left .5s;
    padding: 16px;
    height: 95%;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
.flowy {
  overflow-y: scroll;
}
.marbot{
    margin-bottom: 15px;
}
.navtext{
    padding-left:30px;
    color: #fff;
}

.rooms{
    padding:10px 10px 10px 20px;
    background-color:#282828;
}
.room{
    background-color:#282828;
    padding:10px 10px 10px 20px;
    border-width: 1px;
    border-style: double;
    border-color: black;
}
.chats{
    padding:10px 10px 10px 20px;
    background-color:#282828;
}
.chat{
    padding:10px 10px 10px 20px;
    background-color:#282828;
    border:0px;
}
.chatUser{
    background:#fff;
    border-radius:5px;
    text-align:center;
    border-style: inset;
    border-color: black;
    border-width: 5px;
}
.chatUser.active {
    border-color: green;
    border-style: inset;
}
@-webkit-keyframes Border {
    0% {border-color: crimson;}
    25% {border-color: orange;}
    50% {border-color: red;}
    100% {border-color: purple;}
}
.chatUser.messageAlert{
    -webkit-animation:Border 1s infinite alternate;
}
.chatUser:hover{
    background: lightgray;
}
.chat_head{
    color:#fff;
}
.chat-controls{
    background:#353535;
    height:10%;
}
.chat-panel{
    background:white;
    height:70%;
}
.chat-input{
    background:#282828;
    height:12%;
    border: 0px;
}
.chat-controls .badge{
    padding:10px 10px 5px 10px;
    border: 0px;
    border-radius: 0px;
}
.chat-input .input-group .input-group-prepend .input-group-text {
    background: #353535;
    border: 0px;
    color: #fff;
}
.chat-input .input-group .input-group-append button {
    background: #353535;
    border: 0px;
}
#text_input{
    border:none;
    background: lightgray;
    color: black;
}
#text_input:focus{
    outline: none !important;
    box-shadow: none;
}
.msg{
    word-break: break-all;
    margin:5px;
    padding:5px;
    border-radius:5px;
}
.msg.outgoing{
    background: #2ba837;
    color: #fff;
}
.msg.incoming{
    background: #360000;
    color: #fff;
}
