html,body {
        height:100%;
        width: 100%;
        color: #fff280;
        background: #272727;
        display: flex;
        background: linear-gradient(270deg, #747474, #ff652f, #747474, #ffe400, #747474, #14a76c, #747474);
        background-size: 1400% 1400%;
        -webkit-animation: AnimationName 16s ease infinite;
        -moz-animation: AnimationName 16s ease infinite;
        -o-animation: AnimationName 16s ease infinite;
        animation: AnimationName 16s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.container{
    text-align: center;
    background: #272727;
    border:15px;
    border-radius: 2px;
    border-style: outset;
    border-color: white;
    align-self: center;
}

.main_div_l{
    text-align: center;
}
.highlight_h{
    margin-top: 5px;
    border:5px;
    padding: 5px;
    border-style: groove;
    border-color: #ff652f;
}
.instructions{
    overflow-y: scroll;
    max-height: 200px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF652F;
   border-radius: 1px;
}
.list-group a{
    background: #FF652F;
    color: #fff280;
    border-color: #747474;
}
.list-group a.active{
    background: #FF652F;
    color: #fff280;
    border-color: #747474;
}
.list-group a.customactive{
    background: #747474;
}
.list-group a:focus{
    outline: none !important;
    box-shadow: none;
}
.instruction_img{
    max-width: 100px;
    max-height: 100px;
    display: inline;
    border:2px;
    border-color: white;
    border-style: groove;
}
.instruction_img:hover{
    max-width: 200px;
    max-height: 200px;
}
.instructions h4{
    margin-top: 5px;
}
.instructions hr{
    border-top: 1px solid #FF652F;
}
.row-instructions{
    text-align: center;
    padding: 20px;
}
h1,h2,h3,h4,h5,p{
    word-break: break-all !important;
}

#usertag{
    margin-left: 50px;
    max-width: 100px;
    display: inline;
    max-height: 30px;
}
.submit_tag{
    margin-left: 5px;
    border-radius: 5px;
    background: #FF652F;
    color: #fff280;
    max-height: 30px;
}
.submit_tag:hover{
    border:2px;
    border-style: inset;
    border-color: #747474;
    color:#2ba837;
    background: #4d4500;
}
.social_link{
    max-width: 50px;
    max-height: 50px;
}
.social_a:hover{
    color:#272727 !important;
}
